<h1>Run Environment</h1>

<p>
  <strong>Year:</strong>
  <%= @run_environment.year %>
</p>
 
<table>
	<thead>
		<tr>
			<th>Contact</th>
			<th>Gap Power</th>
			<th>HR Power</th>
			<th>Eye</th>
			<th>Avoid K</th>
			<th>Stuff</th>
			<th>Movement</th>
			<th>Control</th>
			<th>Speed</th>
			<th>Fielding</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @run_environment.contact %></td>
			<td><%= @run_environment.gap_power %></td>
			<td><%= @run_environment.hr_power %></td>
			<td><%= @run_environment.eye %></td>
			<td><%= @run_environment.avoid_k %></td>
			<td><%= @run_environment.stuff %></td>
			<td><%= @run_environment.movement %></td>
			<td><%= @run_environment.control %></td>
			<td><%= @run_environment.speed %></td>
			<td><%= @run_environment.fielding %></td>
		</tr>
	</tbody>
</table>