<h1>Player!</h1>

<p>
  <strong>Name:</strong>
  <%= @player.FirstName %> <%= @player.LastName %>
</p>
 
<p>
  <strong>Overall:</strong>
  <%= @player.Card_Value %>
</p>

<p>
  <strong>Player Tournaments</strong>
  <table>
    <thead>
      <tr>
        <th>Tournament</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <% @player.statistics.each do |statistic| %>
      <tr>
        <td><%= statistic.tournament.title %></td>
        <td><%= statistic %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
</p>